services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      - CONVEX_URL=https://adept-badger-863.convex.cloud
    ports:
      - "4000:4000"
    restart: unless-stopped